							/* CEREBRASPACE */
/* ==============================| Override css |============================== */
#skeleton{ border: 1px solid transparent; }

#video_mask{
	height: 170px;
	width: 300px;
	border-radius: 25px;
	margin: 0px;
	overflow: hidden;
}

#video_mask video{
	height: 230px;
	width: 300px;
	border: none;
	transform: translateY(-30px);
}

.announce_style{
	padding: 0px 5%;
	font-size: 15pt;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

.announce_style span{ color: var(--flat_red_color); }

.news_container{
	display: flex;
	align-items: center;
	height: auto;
	width: 90%;
	border-radius: 25px;
	margin: 20px auto;
	background: linear-gradient(90deg, var(--pink_peach_color_init_linear) 31%, var(--pink_peach_color_dest_linear) 90%);
}

.news_container p{
	padding: 0px 3%;
	margin: 0px;
	font-size: 12pt;
	text-align: justify;
}

.media_container{
	display: flex;
	align-items: center;
	height: 250px;
	width: 350px;
	padding: 0px 3%;
	margin: auto 0px;
}

.multi_media{ flex-direction: column; margin: 25px 0px;}

.media_container iframe{
	height: 200px;
	width: 300px;
	border: none;
	border-radius: 25px;
	margin: auto 0px;
}

.media_container audio{ width: 300px; }

/* ==============================| Override media queries |============================== */
@media screen and (max-width: 895px){ 
	.news_container{ flex-direction: column; }
	.media_container{ justify-content: center; padding: 0px calc((100% - 350px)/2); }
	
}

@media screen and (max-width: 645px){
	#video_mask{ height: calc(170px/1.5); width: calc(300px/1.5); }
	
	#video_mask video{ 
		height: calc(230px/1.5); 
		width: calc(300px/1.5);
		transform: translateY(calc(-30px/1.5));
	}
	
	.announce_style{ font-size: 16pt; }
	
	.news_container p{ font-size: 10pt; }
	
	.media_container{ height: calc(250px/1.5); width: calc(350px/1.5); }
	
	.media_container iframe{ height: calc(200px/1.5); width: calc(300px/1.5); }
	
	.media_container audio{ width: calc(300px/1.5); }
	
}

@media screen and (max-width: 350px){
	.init_information h2, .news_container, footer{ display: none; }
}