							/* CEREBRASPACE */
/* ==============================| Override css |============================== */

#skeleton h2{
	margin: 5px 0px;
	color: var(--dark_gray);
	text-align:center;
}
#frame_container{ height: 500px; border-radius: 10px;}

#skeleton iframe{
	height: 500px;
	width: 100%;
	border-radius: 5px;
}
/* ==============================| Override media queries |============================== */
@media screen and (max-width: 895px){ 
	
}

@media screen and (max-width: 645px){
	
}

@media screen and (max-width: 350px){ #skeleton h2, #frame_container{ display: none; } }