/* Material adaptation for compatibility */

							/* CEREBRASPACE */
/* ==============================| Config |============================ */
@import url('https://fonts.cdnfonts.com/css/google-sans');
/* ==============================| Vars |============================== */
:root{ --md-divider-thickness: 0px; }
/* ==============================| Main stylish area |================= */
body{ background-image: url("../../assets/images/background/abstract_cold_winter.png"); font-family: 'Product Sans Light', sans-serif;}

md-primary-tab{
	--_active-indicator-color: #7B55BA;
	--_active-indicator-height: 5px;
	--_active-indicator-shape: 5px 5px 0px 0px;
	--_active-hover-state-layer-color: #6750AA;
	--_container-color: transparent;
	--_container-shape: 5px;
	--_label-text-font: 'Exo', sans-serif;
	--_active-label-text-color: var(--default_white);
	--_active-focus-label-text-color: var(--default_white);
	--_active-hover-label-text-color: var(--default_white);
	--_focus-label-text-color: var(--default_white);
	--_hover-label-text-color: var(--default_white);
	--_label-text-color: var(--default_white);
	--_label-text-weight: 700;
	--_active-pressed-label-text-color: var(--default_white);
	width: 115px;
}

md-list{
	padding: 0px;
	border-radius: 20px;
	--md-list-container-color: rgba(255,237,238,0.30);
	--md-list-item-label-text-font: 'Exo', sans-serif;
	--md-list-item-label-text-color: var(--default_dark);
	--md-list-item-hover-state-layer-color: #FFB8BC;
}

md-outlined-text-field{
	height: 50px;
	width: 200px;
	margin: auto 1% auto auto;
	--md-outlined-text-field-container-shape: 20px;
	--md-sys-color-primary: var(--main_palette_color);
	--md-outlined-text-field-input-text-font: 'Product Sans Light', sans-serif;
	--md-outlined-text-field-label-text-font: 'Product Sans Light', sans-serif;
	--md-outlined-text-field-supporting-text-font: 'Product Sans Light', sans-serif;
	--md-outlined-text-field-hover-outline-color: var(--default_white);
	--md-outlined-text-field-focus-outline-color: var(--default_white);
	--md-outlined-text-field-outline-color: var(--default_white);
	--md-outlined-text-field-hover-label-text-color: var(--default_white); 
	--md-outlined-text-field-focus-label-text-color: var(--default_white);
	--md-outlined-text-field-label-text-color: var(--default_white);
	--md-outlined-text-field-hover-input-text-color: var(--default_white);
	--md-outlined-text-field-focus-input-text-color: var(--default_white);
	--md-outlined-text-field-input-text-color: var(--default_white);
	--md-outlined-text-field-hover-supporting-text-color: var(--default_white);
	--md-outlined-text-field-focus-supporting-text-color: var(--default_white);
	--md-outlined-text-field-supporting-text-color: var(--default_white);
	--md-outlined-text-field-label-text-size: 11pt;
	--md-outlined-text-field-input-text-size: 11pt;
	--md-outlined-text-field-supporting-text-size: 11pt;
	--md-outlined-text-field-input-text-weight: 600;
}

md-filled-tonal-button{
	max-width: 60px;
	margin: auto 3% auto 1%;
	--md-filled-tonal-button-container-height: 30px;
	--md-filled-tonal-button-container-color: var(--default_white);
	--md-filled-tonal-button-label-text-font: 'Product Sans Medium', sans-serif;
	--md-filled-tonal-button-label-text-color: var(--dark_gray);
	--md-filled-tonal-button-label-text-size: 11pt;
}

#navbar { margin-top: 33px; }

#navbar img{
	position: absolute;
	height: 64px;
	width: 64px;
	top: -0.5%;
	left: 2%;
	transform: rotate(-35deg);
}

#main_logo { font-family: 'Product Sans Medium', sans-serif; letter-spacing: 1px; }

#skeleton { border-radius: 20px; }

#overview_images{ 
	display:flex;
	height: 300px;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("../../assets/images/cerebras_christmas_hope.png") left / cover no-repeat scroll;
	border-radius: 20px;
}

#overview_images div{ transform: translateY(-60%); }

#overview_images h1{
	margin: 5px 0px;
	font-family: 'Product Sans Black', sans-serif;
	font-size: 50pt;
	color: var(--default_white);
}

#overview_images p{
	display:block;
	margin: 5px 0px;
	font-family: 'Product Sans Thin', sans-serif;
	font-size: 14pt;
	text-transform: uppercase;
	color: var(--default_white);
	text-align: center;
}

#security_information p { margin: 5px 0px; }

#questions { padding-left: 3%; }

#questions a{
	display:block;
	width: 100%;
	text-decoration: none; 
	color: var(--default_dark);
}

#questions a:hover{ color: var(--default_dark); }

#questions md-list md-list-item:nth-child(1){
	border-bottom: 1px solid var(--default_white);
	cursor: default;
	--md-ripple-hover-color: transparent;
	--md-ripple-hover-opacity: 0;
	--md-ripple-pressed-color: transparent;
	--md-ripple-pressed-opacity: transparent;
	--md-list-item-label-text-weight: 700;
}

#questions md-list md-list-item{
	border-bottom: 1px solid var(--light_gray);
	border-radius: 20px;
	--md-ripple-pressed-color: var(--main_palette_color);
}

.nav_hyperlinks { padding: 14.273px 10px; margin: 0px 5px;}

.mdc-card{ width: 150px; margin: 0px 3%; }

.mdc-card__media-content, .mdc-card__primary-action{ height: 200px; width: 100%; }

.mdc-card__ripple{
	height: 150px;
	width: 200px;
	background-repeat: no-repeat;
}

.mdc-card__actions{ justify-content:  center; }

/* ==============================| Media queries code area |========================== */
@media screen and (max-width: 895px){
	md-list{ --md-list-item-label-text-size: 10pt; }
	
	md-outlined-text-field{
		width: calc(200px/1.5);
		border-radius: calc(20px/1.5);
		--md-outlined-text-field-label-text-size: 10pt;
		--md-outlined-text-field-input-text-size: 10pt;
		--md-outlined-text-field-supporting-text-size: 10pt;
	}
	
	md-filled-tonal-button{
		max-width: 60px;
		--md-filled-tonal-button-container-height: calc(30px/1.5);
		--md-filled-tonal-button-label-text-size: 10pt;	
	}
	
	#navbar img{ left: 0.5%; }
	
	#overview_images h1 { font-size: 35pt; }
	
	#overview_images p { font-size: 12pt; }
}

@media screen and (max-width: 645px){
	md-list{ --md-list-item-label-text-size: 8pt; }
	
	md-outlined-text-field{
		width: calc(200px /2);
		border-radius: calc(20px/2);
		--md-outlined-text-field-label-text-size: 6pt;
		--md-outlined-text-field-input-text-size: 8pt;
		--md-outlined-text-field-supporting-text-size: 6pt;
	}
	
	md-filled-tonal-button{
		--md-filled-tonal-button-container-height: calc(30px/2);
		max-width: 60px;
		--md-filled-tonal-button-label-text-size: 8pt;	
	}
	
	#navbar { height: 100px; }
	
	#navbar img{ 
		height: 50px;
		width: 50px;
		top: 0.5%;
		left: -1%; 
	}
	
	#devs_container { height: calc(250px * 3 + (250px * 20 / 100)); }
	
	#overview_images h1 { font-size: 20pt; }
	
	#overview_images p { font-size: 12pt; }
}

@media screen and (max-width: 350px){ #overview_images { display: none; } }