@charset "utf-8";
/* Cerebraspace */

body {
	margin: 0px;
	background-image: url("../images/background/abstract_purple.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Exo', sans-serif;
	font-style: normal;
	font-weight: 400;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%; /* Extend on div surface */
	width: 100%;
	border-radius: 10px;
	background-color: #AA77FF;
}

nav {
	display: inline-block;
	height: 96%;
	width: auto;
	margin: 1px;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	width: auto;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
}

nav ul li {
	font-size: 10pt;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-align: center;
	border: 0;
}

nav ul li:first-child{ margin-left: 12px; }
nav ul li:last-child{ margin-right: 12px; }

#logo_hyperlink{ padding: 8px 20px; }

#overview_images{ height: 350px; }

#data_center_img {
	height: 350px;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

#device_warning_img { 
	position: relative;
	left: 50%;
	height: 64px;
	width: 64px;
	transform: translate(-50%);
	
}

#init_information{
	/*In case of upredictable situation to write something*/
}

#init_information h2{
	padding: 0px 40%;
	margin: 20px 0px 5px 0px;
	text-align:center;
}

#init_information p{
	padding: 0px 30%;
	margin: 5px 0px;
	color: darkgray;
	text-align:center;
}

#devs_container{
	display:flex;
	justify-content: space-evenly;
	margin: 10px 0px 20px 0px;
}

.navbar {
    height: 50px;
    width: 90%;
	margin: 5px auto 5px auto;
    background-color: transparent;
}

.main_logo {
	display: inline-block;
	height: 100%;
	width: 200px;
	margin: 0;
	font-size: 18pt;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-align: left;
}

.nav_hyperlinks {
	display: inline-block;
	padding: 15.273px 8px 15.273px 8px;
	margin: 1px 5px;
	text-decoration: none;
	color: #FFFFFF;
}

.skeleton {
	height: 250vh; /* DynamIQ size */
	width: 90%;
	border-radius: 10px;
	margin: 5px auto 5px auto;
	background-color: #FFFFFF;
}

.resolution_warning{
	display: none;
	height: auto;
	width:100%;
	text-align: justify;
}

.team_container{
	height: 200px;
	width: 150px;
	overflow: hidden;
}

.overlay_area{
	position: absolute;
	height: 200px;
	width: 150px;
	background-color: rgba(170, 119, 255, 0.5);
	opacity: 0.5;
}

.devinfo_container span{
	display:block;
	position: relative;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
  	opacity: 0.65;
	
}

.team_container, .overlay_area, .devinfo_container, .devinfo_container img,
.devinfo_container span{ border-radius: 6px; }

.team_container:hover .overlay_area{ opacity: 0; }

.team_container:hover span:last-child{
	bottom: 27px;
	background-color: rgba(170, 119, 255, 0.8);
  	transition: all 0.6s ease-in-out;
}


@media screen and (max-width: 895px) {
	.navbar { height: 100px; }
	
	.nav_hyperlinks { padding: 15.273px 8px 15.273px 8px; }
	
	nav { margin: 0px; width: 100%; }
	
	nav ul { justify-content: space-evenly; }
	
	.main_logo { width: 315px; text-align: center; }
	
	#logo_hyperlink { max-width: 315px; padding: 8px 77.568px; }
	
	header { flex-direction: column; }
	
	nav ul li:first-child { margin-left: 0px; }

	nav ul li:last-child { margin-right: 0px; }
}

@media screen and (max-width: 645px){
	.navbar { height: 300px; }
	ul {flex-direction: column;}
	li { width: 100%; }
	.team_container, .overlay_area, .devinfo_container img{
		height: calc(200px/2);
		width: calc(150px/2);
	}
}

@media screen and (max-width: 350px){
	.navbar, #data_center_img, #init_information { display:none; }
	.resolution_warning { display: block; }
}
