@charset "utf-8";
/* Cerebraspace */

body {
	margin: 0px;
	background-image: url("../images/background/abstract_purple.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Exo', sans-serif;
	font-style: normal;
	font-weight: 400;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%; /* Extend on div surface */
	width: 100%;
	border-radius: 10px;
	background-color: #AA77FF;
}

nav {
	display: inline-block;
	height: 96%;
	width: auto;
	margin: 1px;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	width: auto;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type: none;
}

nav ul li {
	border: 0px;
	font-size: 10pt;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-align: center;
}

nav ul li:first-child{ margin-left: 12px; }
nav ul li:last-child{ margin-right: 12px; }

footer{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 300px;
	justify-items: center;
	height: 300px;
	width: 90%;
	border-radius: 10px;
	margin: 5px auto;
	background-color: #002266;
}

footer div:first-child p{ margin: 15px 5px; }

footer a{
	padding: 5px 0px;
	font-size: 9pt;
	text-transform: uppercase;
	text-decoration: none;
	color: #DEDEDE;
}

footer a:hover{ color: #FFFFFF; cursor: pointer; }

#logo_hyperlink{ padding: 8px 20px; }

#overview_images{ height: 350px; }

#data_center_img {
	height: 350px;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

#device_warning_img { 
	position: relative;
	height: 64px;
	width: 64px;
	left: 50%;
	transform: translate(-50%);
}

#init_information h2{
	padding: 0px 40%;
	margin: 20px 0px 5px 0px;
	text-align:center;
}

#init_information p{
	padding: 0px 30%;
	margin: 5px 0px;
	color: #5A5A5A;
	text-align:center;
}

#devs_container{
	display:flex;
	justify-content: space-between;
	margin: 10px 0px 20px 0px;
}

#security_information{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 300px;
	width: 100%;
	margin: 20px 0px;
	background: rgb(255,211,214);
	background: linear-gradient(90deg, rgba(255,211,214,0.4) 31%, rgba(230,220,246,0.4) 90%);
	
}

#security_information p{
	width: 60%;
	padding: 0px 3%;
	margin: auto 0px;
	font-size: 12pt;
	color: #000000;
	text-align:justify;
}

#security_information img{
	display:block;
	height: 150px;
	width: 140px;
	padding: 0px 3%;
	margin: auto 0px;
}

#frequent_questions{
	display:grid;
	grid-template-columns: 60% 40%;
	align-items: center;
	margin: 20px 0px;
}
#questions{ width: 90%; padding: 0px 5%; }

#questions ul{ padding-inline-start: 0; list-style-type:none; }

#questions li:first-child{ border: none; font-weight: 700; }

#questions li{
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid #DEDEDE;
}

#questions li:not(:first-child):hover{ cursor: pointer; }

#questions a{ text-decoration: none; color: #000000; }

#questions a:hover{ color: #5A5A5A }

#answers { width: 85%; padding: 0px 7.5%; }

#answers p{
	display: none;
	height: 100%;
	margin: 0;
	opacity: 0;
	font-style: italic;
	color:#000000;
	text-align: center;
	animation: answer_appear 3s forwards;
}

#answers p:target{ display:block; }

#quick_subscription{
	height: 300px;
	margin: 20px 0px;
	background-image: url("../images/team_work.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#quick_subscription div{
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	background: rgb(170,119,255);
	background: radial-gradient(circle, rgba(170,119,255,0.40) 100%, rgba(255,255,255,0) 100%);
}

#quick_subscription p{
	width: 60%;
	padding: 0px 3%;
	margin: auto 0px;
	font-size: 14pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align:justify;
}

#quick_subscription input{
	height: 25px;
	width: 200px;
	border-color: transparent;
	border-radius: 5px;
	margin: auto 1% auto auto;
	outline: none;
	font-size: 11pt;
	font-weight: 600;
	color: #5A5A5A;
}

#quick_subscription input:focus { outline: 2px solid rgba(170,119,255,0.70); }

#quick_subscription button{
	height: 30px;
	width: 60px;
	padding: 0px;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	margin: auto 3% auto 1%;
	background-color: #FFFFFF;
	font-weight: 600;
	color: #5B5B5B;
	
}

#quick_subscription button:active{ border: 2px solid #000000; }

#closure_information{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 100%;
	margin: 20px 0px 5px 0px;
}

#closure_information div{
	height: 100%;
	width: 100%;
	text-align:center;
}
#closure_information img{
	display:block;
	height: 64px;
	width: 64px;
	padding: 0px calc((100% - 64px)/2);
}

#closure_information p{ text-align: center; padding: 0px 20px; }

#payment_methods{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	align-items: start;
	justify-items: start;
	grid-gap: 5px;
}

#payment_methods img{
	display:block;
	height: 64px;
	width: 64px;
}

#social_media{
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 25% 25% 25% 25%;
	align-items: start;
	justify-items: start;
	grid-gap: 0px 5px;

}

#social_media img{
	display:block;
	height: 32px;
	width: 32px;
}

.navbar {
    height: 50px;
    width: 90%;
	margin: 5px auto;
    background-color: transparent;
}

.main_logo {
	display: inline-block;
	height: 100%;
	width: 200px;
	margin: 0px;
	font-size: 18pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
}

.nav_hyperlinks {
	display: inline-block;
	padding: 15.273px 8px 15.273px 8px;
	margin: 1px 5px;
	text-decoration: none;
	color: #FFFFFF;
}

.skeleton {
	/*height: 250vh; DynamIQ Updated and excluded: no needs */
	width: 90%;
	border-radius: 10px;
	margin: 5px auto;
	background-color: #FFFFFF;
}

.resolution_warning{
	display: none;
	height: auto;
	width: 100%;
	text-align: justify;
}

.team_container{
	height: 200px;
	width: 150px;
	padding: 0px 3%;
}

.overlay_area{
	position: absolute;
	height: 200px;
	width: 150px;
	background-color: rgba(170, 119, 255, 0.5);
	opacity: 0.5;
}

.devinfo_container span{
	display:block;
	position: relative;
	opacity: 0.90;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}

.team_container, .overlay_area, .devinfo_container, .devinfo_container img, .devinfo_container span { border-radius: 6px; }

.team_container:hover .overlay_area{ opacity: 0; }

.team_container:hover span:last-child{
	bottom: 27px;
	background-color: rgba(170, 119, 255, 0.8);
  	transition: all 0.6s ease-in-out;
}

.footer_name_groups{
	font-size: 10pt;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFFFFF;
	margin: 15px 0px;
}

.footer_hyperlinks{ display:flex; flex-direction: column; }

/* ==============================| Keyframes code area |============================== */

@keyframes answer_appear{ to{ opacity: 100; } }

/* ==============================| Media queries code area |========================== */
@media screen and (max-width: 895px) {
	header { flex-direction: column; }
	
	nav { width: 100%; margin: 0px; }
	
	nav ul { justify-content: space-evenly; }
	
	nav ul li:first-child { margin-left: 0px; }

	nav ul li:last-child { margin-right: 0px; }
	
	footer a { font-size: 7pt; }
	
	#logo_hyperlink { max-width: 315px; padding: 8px 77.568px; }
	
	#security_information p, #frequent_questions, #quick_subscription p, #quick_subscription input, #quick_subscription button, #closure_information p
	{ font-size: 10pt; }
	
	#security_information img { height: calc(150px/1.3); width: calc(140px/1.3); }
	
	#quick_subscription input { 
		height: calc(25px/1.5); 
		width: calc(200px/1.5);
		border-radius: calc(5px/1.5);
	}
	
	#quick_subscription button { 
		height: calc(30px/1.5); 
		width: calc(60px/1.2); 
		border-radius: calc(5px/1.5);
	}
	
	#closure_information img { 
		height: calc(64px/1.3); 
		width: calc(64px/1.3); 
		padding: 0px calc((100% - calc(64px/1.3))/2);
	}
	
	#payment_methods img{ height: calc(64px/1.3); width: calc(64px/1.3); }
	
	#social_media img { height: calc(32px/1.3); width: calc(32px/1.3); }
	
	.navbar { height: 100px; }
	
	.nav_hyperlinks { padding: 15.273px 8px 15.273px 8px; }
	
	.main_logo { width: 315px; text-align: center; }
	
	.footer_name_groups { font-size: 7pt; }
	
}

@media screen and (max-width: 645px){
	ul {flex-direction: column;}
	
	li { width: 100%; }
	
	footer a { font-size: 4pt; }
	
	#security_information p, #frequent_questions, #quick_subscription p, #quick_subscription input, #quick_subscription button, #closure_information p
	{ font-size: 7.4pt; }
	
	#security_information img { height: calc(150px/1.8); width: calc(140px/1.8);}
	
	#quick_subscription input { 
		height: calc(25px/2); 
		width: calc(200px/2);
		border-radius: calc(5px/2);
	}
	
	#quick_subscription button { 
		height: calc(30px/2); 
		width: calc(60px/1.7); 
		border-radius: calc(5px/2);
	}
	
	#closure_information img{ 
		height: calc(64px/1.8); 
		width: calc(64px/1.8);
		padding: 0px calc((100% - calc(64px/1.8))/2);
	}
	
	#payment_methods img{ height: calc(64px/2.5); width: calc(64px/2.5); }
	
	#social_media img { height: calc(32px/2.5); width: calc(32px/2.5); }
	
	.navbar { height: 300px; }

	.team_container, .overlay_area, .devinfo_container img{ height: calc(200px/2); width: calc(150px/2); }
	
	.footer_name_groups { font-size: 4pt; }
	
}

@media screen and (max-width: 350px){
	.navbar, #data_center_img, #init_information, #security_information, #frequent_questions, #quick_subscription, #closure_information, footer
	{ display:none; }
	.resolution_warning { display: block; }
}
