@charset "utf-8";
/* Cerebraspace */

body {
	margin: 0px;
	background-image: url("../img/background_image.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Exo', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.navbar {
    height: 50px;
    width: 90%;
    background-color: transparent;
    margin: 5px auto 5px auto;
}

header {
	display: flex;
	height: 100%; /* Se extinde vertical pe tot divul */
	width: 100%;
	background-color: #AA77FF;
    border-radius: 10px;
	align-items: center;
	justify-content: space-between;
}

.main_logo {
	display: inline-block;
	height: auto;
	width: auto;
	font-size: 1.5em;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0px;
	text-align:center;
	color: #FFFFFF;
	margin: 1px 1px;
}

a {
	display: inline-block;
	padding: 15.5px 8px 15.5px 8px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 1px 5px;
}

#logo_config_area {
	padding: 9px 19px;
}
nav {
	display: inline-block;
	height: 100%;
	width: auto;
	margin-top: 1px;
	margin-left: 1px;
	margin-bottom: 1px;
}

ul {
	display: flex;
	height: 100%;
	width: auto;
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	align-items: center;
	justify-content: flex-end;
}

li {
	text-align: center;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
	color: #FFFFFF;
	border: 0px;

	
}

#listitem_config_area {
	margin-right: 1px;
}

.skeleton {
	height: 2000px; /* Temporar */
	width: 90%;
	background-color: #FFFFFF;
    margin: 5px auto 5px auto;
    border-radius: 10px;
}

.datacenter img {
	height: 350px;
	width: 100%;
    border-radius: 10px 10px 0px 0px;
}
p{
	border: 1px solid red;
}
