@charset "utf-8";
/* Cerebraspace */

body {
	margin: 0px;
	background-image: url("../img/background_image.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Exo', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.skeleton {
	height: 2000px; /* Temporar */
	width: 90%;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 2.6%;
	width: 100%;
	background-color: #AA77FF;
}

a {
	display: inline-block;
	padding: 20.8px 9px 12.4px 9px;
	color: #FFFFFF;
	text-decoration: none;
}

.main_logo {
	float: left;
	text-align: left;
	width: auto;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0px;
	color: #FFFFFF;
	margin: 1px 1px;
}
#logo_config_area {
	padding: 9px 19px;
}
nav {
	float: right;
	text-align: right;
	width: 60%;
	margin-top: 1px;
	margin-left: 1px;
	margin-bottom: 1px;
}

header nav ul {
	float: right;
	display: inline-block;
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

nav ul li {
	float: left;
	text-align: left;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
	color: #FFFFFF;
	border: 0px;
	margin-right: 15px;
	
}

#listitem_config_area {
	margin-right: 1px;
}

#menuitem_config_area {
	padding: 20.8px 9px 12.4px 9px;
}

.datacenter img {
	height: 350px;
	width: 100%;
}
